<footer class="page-footer green">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Project by Experis</h5>
                <p class="grey-text text-lighten-4">This is an project made up by Experis Academy. </p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Developers</h5>
                <ul>
                    <li><a class="white-text" href="mailto:quoc.viet.nguyen.tran@no.experis.com">Quoc Viet Nguyen
                            Tran</a></li>
                    <li><a class="white-text" href="mailto:thinh.to@no.experis.com">Thinh To</a></li>
                    <li><a class="white-text" href="mailto:kim.aasen@no.experis.com">Kim Aasen</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Design taken from <a class="green-text text-lighten-3" href="http://www.materializecss.com">materializecss.com</a>
        </div>
    </div>
</footer>