
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center green-text">My Portfolio</h1>
        <div class="row center">
            <h5 class="header col s12 light">A presentation of my experience and skills</h5><br>
            <img class = "circle responsive-img" src = "/pictures/me.jpg" style="max-height: 25vh;"></img>
        </div>
        <div class="row center">
          <h5 class="header col s12 light">{{person.firstname}} {{person.lastname}}</h5>
            <a href="/cv" 
                class=" waves-effect waves-light green btn-large">View my CV</a>
        </div>
        <br><br>

    </div>
</div>
