<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><img id = "logo-container" src="https://www.iconsdb.com/icons/preview/orange/linkedin-4-xxl.png" height="65px" href="#" class="brand-logo"></img><!--<a id="logo-container" href="#" class="brand-logo"><\insert logo here\></a>-->

        <ul class="right hide-on-med-and-down">
          <li><a href="/">/home</a></li>
          <li><a href="/cv">/cv</a></li>
          <li><a href="/data">/data</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
          <li><a href="/">/home</a></li>
          <li><a href="/cv">/cv</a></li>
          <li><a href="/data">/data</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">inCV</h1>
        <div class="row center">
            <h5 class="header col s12 light">A presentation of your experience and skills</h5><br>
            <img class = "circle responsive-img" src = "https://media.licdn.com/dms/image/C4D03AQHUrODkBjKufA/profile-displayphoto-shrink_800_800/0?e=1557964800&v=beta&t=8u2Vmc4Xqp8Jz1s0iPK32GnTB0K6CqISYTwHRhw7qgM" style="max-height: 20vh;"></img>
        </div>
        <div class="row center">
          <h5 class="header col s12 light">{{person.firstname}} {{person.lastname}}</h5>
            <a href="/cv" id="download-button"
                class="btn-large waves-effect waves-light orange">View my CV</a>
        </div>
        <br><br>

    </div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col m4">
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">WE make YOU attractive</h5>

                    <p class="light">Our site aims to present you in the best possible way.
                        We make you look good with minimal effort, and we guarantee that
                        employers will offer you attractive positions!</p>
                </div>
            </div>
            <div class="col m4">
            </div>
        </div>

    </div>
    <br><br>
</div>

<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About inCV</h5>
                <p class="grey-text text-lighten-4">We are a team of three colleagues working on this project.
                  Our background is vastly different, and our competences differs as well.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Developers</h5>
                <ul>
                    <li><a class="white-text" href="mailto:quoc.viet.nguyen.tran@no.experis.com">Quoc Viet Nguyen Tran</a></li>
                    <li><a class="white-text" href="mailto:thinh.ho@no.experis.com">Thinh To</a></li>
                    <li><a class="white-text" href="mailto:kim.aasen@no.experis.com">Kim Aasen</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Copyright <a class="orange-text text-lighten-3" href="http://www.incv.com">inCV.com</a>
        </div>
    </div>
</footer>
