<nav class="green lighten-1" role="navigation">
    <div class="nav-wrapper container">
       <a href="https://experisacademy.no/"> <img id="logo-container" src="/pictures/experis.svg" style="margin-top:10px;" height="50px" href="#"
        class="brand-logo"></img></a>
    
        <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/cv">CV</a></li>
            <li><a href="/data">RAW Data</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
            <li><a href="/">/home</a></li>
            <li><a href="/cv">/cv</a></li>
            <li><a href="/data">/data</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>